@{
  Layout = "_Layout";
}

<form action="/result" method="post">
  <label for="sentence">Enter a sentence</label>
  <input type="text" name="sentence" id="sentence">
  <label for="word">Enter the word you'd like to count</label>
  <input type="text" name="word" id="word">
  <button type="submit" name="button">Count</button>
</form>
