@{
  Layout = "_Layout";
}

<h3>Your word appears @Model time/s in your sentence</h3>
<a href="/" class="waves-effect waves-light btn">Back</a>

<div class="carousel">
  <a class="carousel-item" href="#one!"><img src="/img/Montana.jpg"></a>
  <a class="carousel-item" href="#two!"><img src="/img/Bozeman.png"></a>
  <a class="carousel-item" href="#three!"><img src="/img/Oregon.jpg"></a>
  <a class="carousel-item" href="#four!"><img src="/img/Portland.png"></a>
  <a class="carousel-item" href="#five!"><img src="/img/hi.jpg"></a>
</div>
